<link rel="stylesheet" href="css/error.css">
<h1>
    <% if(err==="undefined"){ %>
        Opps You didn't Entered All the Parameters, Please Try again.
    <% }else{ %>
        Opps Please Try Again.
    <% }%>
</h1>